@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap');

// Font sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $index, $value in $font-sizes {
      .fs#{$infix}-#{$index} {
        font-size: $value;
      }
    }
  }
}

.font-weight-semi-bold{
  font-weight: $font-weight-semi-bold;
}

.font-weight-extra-bold {
  font-weight: $font-weight-extra-bold !important;
}

.text-black-60 {
  color: rgba(0, 0, 0, .7);
}

.text-black-70 {
  color: rgba(0, 0, 0, .8);
}

.text-blue {
  color: rgb(3, 168, 164);
}
