$type-scale: 1.067;
$font-size-base: 1rem !default;
$font-sizes: () !default;
$font-sizes: (
        '-3': 1/pow($type-scale, 4) * $font-size-base,
        '-2': 1/pow($type-scale, 2) * $font-size-base,
        '-1': 1/$type-scale * $font-size-base,
        0: $font-size-base,
        1: pow($type-scale, 1) * $font-size-base,
        2: pow($type-scale, 2) * $font-size-base,
        3: pow($type-scale, 3) * $font-size-base,
        4: pow($type-scale, 4) * $font-size-base,
        5: pow($type-scale, 5) * $font-size-base,
        6: pow($type-scale, 6) * $font-size-base,
        7: pow($type-scale, 7) * $font-size-base,
        8: pow($type-scale, 8) * $font-size-base,
);