.mini-layout-login-body {
  border-radius: 12px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}

.left-container {
  background-image: url("../../assets/img/illustrations/arrow.png");

  color: #595959;
  background-position: center 170px;
  background-repeat: no-repeat;
  background-size: 569px;
}

.login-left-container {
  background-color: #dae0e9;
}

.register-left-container {
  background-color: #f4c20d;
}

.right-container {
  background-color: #fff;
  padding: 47px 65px 0 65px;
}

.oauth-login {
  text-align: center;
}

.ride-line {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  span {
    position: relative;
    display: inline-block;
    line-height: 24px;
    z-index: 1;
    background-color: #fff;
    padding: 0 12px 0 12px;
    color: #747487;
  }

  &:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 12px;
    background-color: #ededf4;
  }
}

.login-btn {
  width: 85px;
  line-height: 38px;
  color: rgba(4, 4, 19, 0.56);
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;

  &:before {
    content: '';
    width: 48px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(82, 82, 128, 0.09);
    border-radius: 16px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;

  }

  &.login-btn-google {
    &:before {
      background-image: url("../../assets/img/logo/brands/sm/google.png");
    }
  }

  &.login-btn-facebook {
    &:before {
      background-image: url("../../assets/img/logo/brands/sm/facebook.png");
    }
  }

  &.login-btn-github {
    &:before {
      background-image: url("../../assets/img/logo/brands/sm/github.png");
    }
  }
}