.navbar-common{
  background: #fff;
  color: rgba(0,0,0,86);
  height: 62px;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-avatar{
  background-color: rgb(63,50,80);
}

.navigation-items{
  border-left: 1px solid #f1f1f1;
}