@import "../../../../assets/scss/app";

.root {
  display: flex;
  flex-direction: column;
  position: relative;

  & .frame-outer {
    width: 100%;
    max-width: $dashboard-frame-width;
    margin: 0 auto;
    height: 100%;
    float: left;
    position: relative;
  }

  & .frame-inner {
    max-width: none;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
}

.content {
  position: relative;
  float: left;
  left: 241px;
  padding-top: 10px;
  //padding: $dashboard-content-padding $dashboard-content-padding ($dashboard-content-padding + 1rem);

  & .content-inner-box {
    float: left;
    position: relative;
    margin-left: 8%;
  }
}