.btn-join{
  border-radius: 12px;
}
.banner-circle-container{
  background-image: url("../../assets/img/banner/Mid-Town_View.jpg");
  max-width: 350px;
  max-height: 360px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}